DEBUG=TRUE
SERVER_NAME=*
LOCAL_DB=TRUE

# Local Values
TEAM_GENERATION_API_URL=
TEAM_GENERATION_API_KEY=

# LTI Config
LTI_CONF_FOLDER=lti/config
LTI_CONF_FILE_NAME=lti_config_settings.json

# Canvas OAuth2 Config
CANVAS_BASE_URL=http://canvas.docker
CANVAS_OAUTH_CLIENT_ID=client_id
CANVAS_OAUTH_CLIENT_SECRET=client_secret

# Configuring frontend
FRONTEND_BASE_URL=http://localhost:3000